<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8" />
    <title>RSSsor</title>

    {% stylesheets '@bootstrap_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    '@jquery'
    '@bootstrap_js'
    '@angular' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>RSSsor v1.0</h1>
        Read your RSS feeds NOW!
    </div>
</div>

<div class="container" ng-controller="AddFeedController">
    <div class="row">

        <add-feed></add-feed>

    </div>
</div>

<div class="container" ng-controller="FeedListController">
    <div class="row"><h3>List 'O Feeds</h3></div>

    <div class="row" ng-if="feeds.length === 0"><h4>No feeds found.</h4></div>

    <div class="row" ng-repeat="feed in feeds">

        <feed-detail feed="feed"></feed-detail>

    </div>
</div>

{% javascripts
    'app/addFeed/addFeed.js'
    'app/feedDetail/feedDetail.js'
    'app/feedList/feedList.js'
    'app/postDetail/postDetail.js'
    'app/app.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
