<div class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon" for="feedUrl">Feed URL:</label>
            <input class="form-control" id="feedUrl"
                   ng-model="feedUrl"/>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon" for="feedType">Feed type:</label>
            <select class="form-control" id="feedType" disabled="disabled"
                    ng-model="feedType">
                <option>---</option>
            </select>
        </div>
    </div>

    <button class="btn btn-primary"
            ng-click="addFeed()">
        Add Feed
    </button>
</div>
