<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8"/>
    <title>RSSsor</title>

    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

    <script src="webjars/jquery/2.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

    <script src="webjars/angularjs/1.5.9/angular.js"></script>
    <script src="webjars/angularjs/1.5.9/angular-resource.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>RSSsor v1.0</h1>
        Read your RSS feeds NOW!
    </div>
</div>

<div class="container" ng-controller="AddFeedController">
    <div class="row">

        <add-feed></add-feed>

    </div>
</div>

<div class="container" ng-controller="FeedListController">
    <div class="row"><h3>List 'O Feeds</h3></div>

    <div class="row" ng-if="feeds.length === 0"><h4>No feeds found.</h4></div>

    <div class="row" ng-repeat="feed in feeds">

        <feed-detail feed="feed"></feed-detail>

    </div>
</div>


<script src="app/addFeed/addFeed.js"></script>
<script src="app/feedDetail/feedDetail.js"></script>
<script src="app/feedList/feedList.js"></script>
<script src="app/postDetail/postDetail.js"></script>
<script src="app/app.js"></script>

</body>
</html>
