<div class="panel panel-default">
    <div class="panel-heading"
         ng-mouseenter="showDelBtn = true" ng-mouseleave="showDelBtn = false">
        <span class="panel-title">
            <a data-toggle="collapse" class="collapsed"
               ng-href="{{'#feed' + feed.id}}" ng-click="loadFeeds()">
                {{feed.title}}
            </a>
            <span class="badge">{{feed.type}}</span>
            <button class="btn btn-danger btn-xs" id="{{'feedDel' + feed.id}}"
                    ng-if="showDelBtn" ng-click="removeFeed()">
                Remove
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
        </span>
    </div>

    <div class="panel-body collapse" id="{{'feed' + feed.id}}">
        <div class="input-group col-xs-5 col-xs-offset-7">
            <span class="input-group-addon">Filter:</span>
            <input class="form-control" width="200px"
                   ng-model="feedFilter"/>
            <span class="input-group-addon">
                <a class="btn btn-info btn-xs"
                   ng-click="feedFilter = ''">
                    <span class="glyphicon glyphicon-erase"></span>
                </a>
            </span>
        </div>


        <br/>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="post in posts | filter:feedFilter">

                <post-detail post="post"></post-detail>

            </li>
        </ul>
    </div>
</div>
